
.border_1 {
 border-radius: 2px 2px 2px 2px;
 -moz-border-radius: 2px 2px 2px 2px;
 -webkit-border-radius: 2px 2px 2px 2px;
    padding: 10px;

 border: 1px solid #e8e8e8;

}
table ,tr td{
    border:1px solid red
}
tbody {
    display:block;
    max-height:160px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width:177px;
}
table {
    width:200px;
}