<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/startup/flat-ui/images/favicon.ico">
        
        <link rel="stylesheet" href="/static//static//static/startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/startup/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/style.css">
        
        <title></title>
    </head>

    <body>
        <div class="page-wrapper"><header class="header-3">
    <div class="container">
        <div class="row">
            <nav class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#"><img src="/static/startup/common-files/icons/Infinity-Loop@2x.png" width="50" height="50" alt=""> /static/startup</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">WORK</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                    <form class="navbar-form pull-left">
                        <a class="btn btn-primary" href="#">SIGN IN</a>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="header-background"></div>
</header>
<section class="header-3-sub">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Twenty five awesome samples</h3>
                <p>These Samples will guide you through and show how to use the blocks and give you the feeling on how to play around using the components in the website building process.</p>
            </div>
        </div>
    </div>
</section><footer class="footer-12">

                {% block content %}


{%endblock %}



    <div class="container">
        Made with <span class="fui-heart"> </span> in New York
    </div>
</footer>            <!-- Placed at the end of the document so the pages load faster -->
            <script src="/static/startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src="/static/startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="/static/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="/static/startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="/static/startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="/static/startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="/static/startup/common-files/js/modernizr.custom.js"></script>
            <script src="/static/startup/common-files/js/page-transitions.js"></script>
            <script src="/static/startup/common-files/js/easing.min.js"></script>
            <script src="/static/startup/common-files/js/jquery.svg.js"></script>
            <script src="/static/startup/common-files/js/jquery.svganim.js"></script>
            <script src="/static/startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="/static/startup/common-files/js/froogaloop.min.js"></script>
            <script src="/static/startup/common-files/js//static/startup-kit.js"></script>
        </div>
    </body>
</html>
